[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = git@github.com:chipzoller/hugo-clarity.git
[submodule "public"]
	path = public
	url = git@github.com:Randy-Huang/Randy-Huang.github.io.git
